.alpaca {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 450px;
    padding-bottom: 15px;
    border-radius: 50%;
}

body {
    background-image: url('background.jpg');
    background-position: center;
  }
  
  h1 {
    color: #f2efef;
    font-size: 24pt;
    font-family: 'Lucida Grande', 'Lucida Sans';
    font-weight: medium;
    text-shadow: -1px 0 black, 0 1px #dc7a1e, 1px 0 #dc7a1e, 0 -1px black;
  }
  
  h2, h3, h4 {
    color: #fcfcfc;
    font-size: 20pt;
    font-family: 'Lucida Grande', 'Lucida Sans';
    font-weight: medium;
    text-shadow: -1px 0 black, 0 1px #dc7a1e, 1px 0 #dc7a1e, 0 -1px black;
  }
  
  p {
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans';
    font-size: 16pt;
    font-weight: light;
    color: #f5efef;
    text-indent: 10px;
    margin-left: 10px;
  }
  
  #content {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  }
  
  div {
    margin: 20px;
    justify-content: center;
    align-items: center;
  }

  div.minor-section{
    background-color: #f5dbbd5f;
    max-width: auto;
    border-radius: 25px;
    padding: 10px;
  }
  
  :-webkit-any-link {
      color: #ececec;
      cursor: pointer;
      text-decoration: underline;
      font-family: 'Verdana';
      font-size: 14pt;
  }

  