/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */

body {
  background-color:#fea4ef
}

h1 {
  color: #0c0c0c;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
}

h2, h3, h4 {
  color: #0c0c0c;
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Courier New';
  color: #1b1b1b;
  text-indent: 20px;
  margin-left: 10px;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 1px #dae1f8;
}

#content {
width: auto;
max-height: 400 px;
padding: 10px;
margin: 10px;
font-size: 18px;
}

div.minor-section{
  background-color: #e7ebf34b;
}

div {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 14pt;
}