/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  .car {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-height: 500px;
    padding-bottom: 15px;
  }
  body{
    background-color: #4f0262;
  }
  
  h1 {
    color: #d9c2e5;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  h2 {
    color: #d9c2e5;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  h3 {
    color: #d9c2e5;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
  }

  p {
    font-family: 'Courier New';
    color: #d9c2e5;
    text-indent: 20px;
    margin-left: 10px;
  }
  
  figcaption{
    font-family: 'Courier New', Courier, monospace;
  }
  
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 1px #d9c2e5;
  }
  
  #content {
  background-color: #751f8a;
  width: auto;
  max-height: 400 px;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  }
  
  div.minor-section{
    background-color: #751f8a;
  }
  
  figcaption {
    text-align: center;
    color: #d9c2e5;
  }
  
  div.output {
    color: #d9c2e5;
    font-family: 'Courier New', Courier, monospace;
  }
  
  :-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 14pt;
}