/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  padding-bottom: 15px;
}

body{
  background-image: url("sky.jpg");
  background-size: auto;
}

h1 {
  color: #b11d87;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: #b11d87;
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Courier New';
  color: #6d3c79;
  text-indent: 20px;
  margin-left: 10px;
}

figcaption{
  font-family: 'Courier New', Courier, monospace;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
}

#content {
width: auto;
max-height: 400 px;
padding: 10px;
margin: 10px;
font-size: 18px;
}

div.minor-section{
  background-color: #f3f0e159;
}

div {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

#output {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color:#6d3c79;
}
:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 14pt;
}