/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

body {
  background-image: url("glitter.jpg");
  background-position: center;
}

h1 {
  color: #f582e2;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
}

h2, h3, h4 {
  color: #e6d368;
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Courier New';
  color: #ffffff;
  text-indent: 20px;
  margin-left: 10px;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 1px #dae1f8;
}

#content {
width: auto;
max-height: 400 px;
padding: 10px;
margin: 10px;
font-size: 18px;
}

div.minor-section{
  background-color: #4a62b44b;
}

div {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

div#output {
  color: #ffffff;
}