/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body{
  background-image: url("doggo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;          
}

h1 {
  color: #8d622c;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
}

h2, h3 {
  color: #8d622c;
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Courier New';
  color: #80542d;
  text-indent: 20px;
  margin-left: 10px;
}

#content {
width: auto;
max-height: 400 px;
padding: 10px;
margin: 10px;
font-size: 18px;
}

div.minor-section{
  background-color: #f4f4f474;
  max-width: 1650px;
  border-radius: 30px;
}

div {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  margin: auto;
  width: 100%;
  padding: 10px;
}
button {
  transition-duration: 0.4s;
  padding: 5px;
  width: 100px;
  font-size: 16 pt;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #e4ad65; 
}

button:active {
  background-color: #94672d; 
  color: #eeedee;
}
:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 14pt;
}