/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body{
  background-color: #7b93d7
}

h1 {
  color: #575ba5;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: #575ba5;
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Courier New', Courier, monospace;
  text-indent: 20px;
  margin-left: 10px;
}

figcaption{
  font-family: 'Courier New', Courier, monospace;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 1px #ffffff;
}

#content {
background-color: #9fb4ed;
width: fit-content;
min-height: 300 px;
padding: 10px;
margin: 10px;
font-size: 18px;
}
div.minor-section{
  background-color: #a7b8e7;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  max-height: 600px;
  padding-bottom: 15px;
  padding-top: 15px;
}

figcaption {
  text-align: center;
}